<mat-toolbar class="navbar" color="primary">
    <div>
      User App
    </div>
    <div>
      <span><button mat-button routerLink="/userList">User List</button></span>
      <span><button mat-button routerLink="/userAdd">Add User</button></span>
      <span><button mat-button routerLink="/update">Delete/Update</button></span>
      <span><button [style.display]=" logged ? 'none' : 'inline' " mat-button (click)="show()">Login</button></span>
      <span><button [style.display]=" logged ? 'inline' : 'none' " mat-button><mat-icon>account_box</mat-icon></button></span>
    </div>
</mat-toolbar>

<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">Login</h2>
            </div>
            <div class="container-fluid">
                    <app-login></app-login>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" (click) = "hide()">Close</button>
            </div>
    </div>
  </div>