<div class="container-fluid" class="div-container">
    <h1>Add User</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input [class.is-invalid]="firstName.invalid 
        && firstName.touched " formControlName="firstName" type="text" class="form-control">
        <div *ngIf="firstName.invalid && firstName.touched ">
          <small *ngIf="firstName.errors?.required" class="text-danger">First Name is required</small>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input [class.is-invalid]="email.invalid 
        && email.touched " formControlName="email" type="text" class="form-control">
        <div *ngIf="email.invalid && email.touched ">
          <small *ngIf="email.errors?.required" class="text-danger">email is required</small>
          <small *ngIf="email.errors?.email" class="text-danger">enter valid email address</small>
        </div>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input [class.is-invalid]="age.invalid && age.touched " formControlName="age" type="number" class="form-control">
        <div *ngIf="age.invalid && age.touched">
          <small *ngIf="age.errors?.required" class="text-danger">age is required</small>
          <small *ngIf="age.errors?.min || age.errors?.max" class="text-danger">age should be between 21 and 60</small>
        </div>
      </div>
      <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>