<div class="container-fluid">
    <h2>Add User</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input [class.is-invalid]="firstName.invalid 
        && firstName.touched " formControlName="firstName" type="text" class="form-control">
        <div *ngIf="firstName.invalid && registrationForm.get('firstName').touched ">
          <small *ngIf="firstName.errors?.required" class="text-danger">First Name is required</small>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input [class.is-invalid]="firstName.invalid 
        && email.touched " formControlName="email" type="text" class="form-control">
        <div *ngIf="email.invalid && registrationForm.get('email').touched ">
          <small *ngIf="email.errors?.required" class="text-danger">email is required</small>
        </div>
      </div>
      <div class="form-group">
        <label>Age</label>
        <input formControlName="age" type="number" class="form-control">
      </div>
      <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>